.btn-actions-text-container {
    height: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    padding: 0 20px;
    transition: background-color 0.3s ease;
}

.red {
    background-color: #992500;
    cursor: pointer;
}

.green {
    background-color: #006414;
    cursor: pointer;
}

.yellow {
    background-color: #BFB91A;
    cursor: pointer;
}

.blue {
    background-color: #1363df;
    cursor: pointer;
}

.btn-actions-text-container.red:hover {
    background-color: #cc3300;
    cursor: pointer;
}

.btn-actions-text-container.green:hover {
    background-color: #009929;
    cursor: pointer;
}

.btn-actions-text-container.yellow:hover {
    background-color: #f4ec09;
    cursor: pointer;
}

.btn-actions-text-container.blue:hover {
    background-color: #1b74ff;
    cursor: pointer;
}

.btn-actions-text-container.red.clicked {
    background-color: #cc3300;
    cursor: pointer;
}

.btn-actions-text-container.green.clicked {
    background-color: #009929;
    cursor: pointer;
}

.btn-actions-text-container.yellow.clicked {
    background-color: #f4ec09;
    cursor: pointer;
}

.btn-actions-text-container.blue.clicked {
    background-color: #1b74ff;
    cursor: pointer;
}
